.test-select {

  color: #2a363d;
  transition: all 0.07s ease;
  background-color: white;


  *:focus {
    outline: none;
  }

  &.inputActive {
    box-shadow: 0px 5px 25px rgba(42, 52, 61, 0.08);
  }

  * {
    box-sizing: border-box;
  }
  .ts-input-container {
    position: relative;
    small {
      position: absolute;
      left: 15px;
      bottom: -20px;
      color: #526C79;
    }

    &.error {
      .ts-input {
        border: 1px solid #EF3F61;
      }
      span {
        color: #EF3F61;
      }
      small {
        color: #EF3F61;
      }
    }

    &:after {
      display: inline-block;
      content: ' ';
      position: absolute;
      width: 9px;
      height: 5px;
      right: 15px;
      top: 27px;
      transform: rotate(-180deg);
      background: url('./assets/icons/chevron-down.svg') no-repeat center;
      transition: all 0.07s ease;
    }

    &.inputActive {
      .ts-input {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
      &:after {
        transform: rotate(0deg);
      }
    }
    .ts-input {
      background: #FFFFFF;
      border: 1px solid #C0CDD3;
      box-sizing: border-box;
      border-radius: 6px;
      font-family: 'Proxima Nova', sans-serif;
      font-size: 16px;
      height: 56px;
      line-height: 56px;
      padding: 0 15px;
      padding-top: 15px;
      width: 100%;

    }
    .ts-label {
      position: absolute;
      height: 17px;
      left: 15px;
      top: 6px;
      font-size: 12px;
      line-height: 17px;
      display: flex;
      align-items: center;
    }
  }

  .ts-option-container {

    .ts-option {
      padding: 0 15px;
      height: 56px;
      line-height: 56px;
      background: #FFFFFF;
      /* Primary/Grey */
      font-size: 16px;
      border: 1px solid #C0CDD3;
      text-align: left;
      cursor: pointer;
      border-top: none;
      position: relative;

      &.offset-0 {
        padding-left: 15px;
      }
      &.offset-1 {
        padding-left: 35px;
      }
      &.offset-2 {
        padding-left: 55px;
      }
      &.offset-3 {
        padding-left: 75px;
      }

      .clear {
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 0;
        color:#5C94FE;
        line-height:56px;
      }

      .selection {
        content: ' ';
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 21px;
        width: 16px;
        height: 16px;
        background: url('./assets/icons/option-selection-inactive.svg') no-repeat center;

        &.selected {
          background: url('./assets/icons/option-selection-checked.svg') no-repeat center;
        }
      }

      &:last-of-type {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
      }
    }
  }

  .ts-selected-options-container {
    height: 56px;
    line-height: 56px;
    border: 1px solid #C0CDD3;
    overflow:hidden;
    .ts-input-container {
      text-align: left;
      padding-left: 15px;
      padding-top: 6px;
    }
    .ts-option {
      display: inline-block;
      margin-right: 5px;
      background: #5C94FE;
      border-radius: 10px;

      text-transform: uppercase;
      font-size: 12px;
      color: white;
      line-height: 20px;
      height: 20px;
      padding: 0 10px;
      margin-bottom: -5px;
      .remove-icon {
        display: inline-block;
        width: 8px;
        height: 8px;
        z-index:333;
        margin-left: 5px;
        background: url('./assets/icons/close.svg') no-repeat center;
      }

    }
  }
}
