<template>
    <div class="test-select" @click="handleOpen" v-click-outside="handleClose" :class="{inputActive: inputActive}">
        <div class="ts-input-container"
             :class="[{inputActive: inputActive}, {error: !isSelectValid}]"
             v-if="!selectedOptions.length">
            <label class="ts-label">Account Category <span>*</span></label>
            <input type="text" placeholder="Type to search or choose from menu" class="ts-input" v-model="input">
            <small v-if="isSelectValid">E.g. Business, exploration, design, etc.</small>
            <small v-if="!isSelectValid" class="error">
                Please, select a valid account category
            </small>
        </div>

        <div class="ts-selected-options-container" v-if="selectedOptions.length">
            <div class="ts-input-container">
                <label class="ts-label">Account Category <span>*</span></label>
                <div class="ts-option" v-for="(option, index) in selectedOptions">
                    {{option.label}}
                    <span class="remove-icon" @click="deSelect(option, index)"></span>
                </div>
            </div>
        </div>

        <div class="ts-option-container" v-if="inputActive">
            <div class="ts-option" v-for="(parentOption,index) in tree" :class="'offset-'+index">
                {{parentOption.label}}
                <span class="selection selected" @click="deSelect(parentOption, index)"></span>
            </div>

            <div class="ts-option"
                 :class="'offset-'+tree.length"
                 v-for="option in availableOptions"
                 @click="selectOption(option)">
                {{option.label}}
                <span class="selection" :class="{selected: option.selected}"></span>
            </div>

            <div class="ts-option" v-if="inputActive && !availableOptions.length">
                Oops, nothing found
                <span class="clear" @click="input = ''">clear entry</span>
            </div>
        </div>

    </div>
</template>

<script>
    import ClickOutside from 'vue-click-outside'

    export default {
        props: ['selectOptions'],
        name: 'TestSelect',
        directives: {
            ClickOutside
        },
        data: function () {
            return {
                input: '',
                currentOptions: [],
                selectedOptions: [],
                tree: [],
                options: [],
                inputActive: false,
            }
        },
        created: function () {
            this.options = this.selectOptions;
            this.currentOptions = this.options;
        },
        computed: {
            /**
             * Options Available According to Search
             **/
            availableOptions: function () {
                if (this.input.length > 1) {
                    return this.search(this.currentOptions, this.input);
                }

                return this.currentOptions.filter(data => !this.input || data.label.toLowerCase().includes(this.input.toLowerCase()))
            },
            isSelectValid: function () {
                if (this.inputActive) return true;

                if (this.input.length > 2 && !this.availableOptions.length) {
                    return false;
                }

                return true;
            },
        },
        methods: {
            /**
             * Recursive Search
             *
             * @param tree
             * @param search
             **/
            search: function (tree, search) {
                for (let node of tree) {
                    if (node.label.toLowerCase().includes(search.toLowerCase())) return [node];

                    if (node.children) {
                        let desiredNode = this.search(node.children, search);
                        if (desiredNode) return desiredNode
                    }
                }
                return false;
            },
            /**
             * On Option Select
             *
             * @param option
             * @returns {*}
             */
            selectOption: function (option) {
                if (option.selected) {
                    return console.log('do nothing');
                }

                if (option.children) {
                    this.input = '';
                    this.selectedOptions.push(option);
                    this.tree.push(option);
                    this.currentOptions = Object.create(option.children);
                    return this.currentOptions = Object.create(this.currentOptions);
                }

                option.selected = true;

                this.options = Object.assign(this.options);
                this.selectedOptions.push(option);

                if (this.shouldBeClosed()) {
                    this.handleClose();
                }

                if (option.label === 'Other') {
                    this.handleClose();
                }
            },
            /**
             * Determines if Select Should be closed
             **/
            shouldBeClosed: function () {
                let selectedAmount = 0;
                console.log(this.availableOptions);
                this.availableOptions.forEach(i => {
                    if (i.selected) {
                        selectedAmount = selectedAmount + 1
                    }
                });
                return selectedAmount === this.availableOptions.length;
            },

            /**
             * Option deselect
             *
             * @param option
             * @param index
             */
            deSelect: function (option, index) {
                option.selected = false;

                this.$delete(this.tree, index);

                this.selectedOptions = this.selectedOptions.slice(0, index);

                if (index >= 1) {
                    this.currentOptions = this.tree[index - 1].children;
                } else {
                    this.tree = [];
                    this.currentOptions = this.options;
                }
            },
            /**
             * Select Open handler
             */
            handleOpen: function () {
                this.inputActive = true;
            },
            /**
             * Select Close handler
             */
            handleClose: function () {
                this.inputActive = false;
            }
        }
    }
</script>

<style lang="scss">
    @import "assets/test-select";
</style>
