<template>
    <div class="hello">
        <div class="form-container">
            <test-select :selectOptions="categories"/>
        </div>

    </div>
</template>

<script>
    import TestSelect from "./components/test-select/TestSelect";
    import CategoriesDataset from "../datasets/CategoriesDataset";

    export default {
        name: 'HelloWorld',
        components: {TestSelect},
        props: {
            msg: String
        },
        data: function () {
            return {
                categories: CategoriesDataset
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    h3 {
        margin: 40px 0 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    .form-container {
        margin: 0 auto;
        width: 401px;
    }

    a {
        color: #42b983;
    }
</style>
